[Desktop Entry]
Type=Application
Name=Open DOS game
Name[es]=Abrir juego DOS
Comment=Configure DOS games with DOSBox Staging from Dolphin
Comment[es]=Configurar juegos DOS con DOSBox Staging desde Dolphin
Exec=dolphin-dos-launcher %f
Icon=dolphin-dos-launcher
NoDisplay=true
Terminal=false
Categories=Game;Emulator;
