[Desktop Entry]
Type=Service
MimeType=application/octet-stream;application/x-ms-dos-executable;application/x-executable;application/x-msdos-program;application/x-bat;application/x-ms-dos-batch;application/x-shellscript;text/x-msdos-batch;application/x-iso9660-image;application/x-cd-image;application/x-cue;application/x-cue-sheet;
X-KDE-Protocols=file
X-KDE-RequiredNumberOfUrls=1
Actions=configure;quick;
X-KDE-Submenu=Open DOS game
X-KDE-Submenu[es]=Abrir juego DOS

[Desktop Action configure]
Name=Configure and launch / mount CD
Name[es]=Configurar e iniciar / montar CD
Icon=dolphin-dos-launcher
Exec=@EXECUTABLE@ %f

[Desktop Action quick]
Name=Launch with saved settings
Name[es]=Iniciar con ajustes guardados
Icon=dolphin-dos-launcher
Exec=@EXECUTABLE@ --quick %f
